*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

a{   
    text-decoration: none;

}

li{
    list-style: none;
}


/* ---------- ----------------- ------------ */
/* ---------- COMIENZO NAVEGADOR ------------ */
/* ---------- ----------------- ------------ */

header{
    height: 10rem;
    position: sticky; /* Hace que el navegador se quede visible al hacer bajar o subir */
    top: 0; /* Se pega al borde superior */
    z-index: 1000;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    height: 100%;
}


.logo_nav{  /* Imagen */
    padding-left: 3rem;
    width: 200px;
    height: 100px;
}

/* -------------------------- */

/* Desde este comentario, hasta el siguiente, tenemos el menu de navegacion que consta debajo del titulo */

nav ul{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 10px;
    height: 100%;
}


nav ul li a{
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: red;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: white;

}

nav ul li a:hover{
    color: #ff0000;
    transition: color 0.3s ease; 
}

.titulo_nav{
    color: white;
    text-align: center;
    font-size: xx-large;
}

hr{
    margin: 1rem;
    border-color: red;
}

/* HASTA AQUI */

/* -------------------------- */

/* Desde aqui hasta el siguiente comentario, estilo de los 2 botones de perfil y cesta */

.botones_extremo_derecho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-left: 1px solid #ff0000;
    height: 5rem;

}

.botones_extremo_derecho ul {
    gap: 1rem;
}

.botones_extremo_derecho ul li a{
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: white;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
}

.botones_extremo_derecho ul li a:hover{
    color: #ff0000;
    transition: color 0.3s ease;
}

/* ---------- ----------------- ------------ */
/* ---------- FIN DEL NAVEGADOR ------------ */
/* ---------- ----------------- ------------ */
/* ######################################### */

/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL MAIN ------------ */
/* ---------- ----------------- ------------ */

main{
    background-color: #1b1b1baa;
    padding: 50px;
}

.shopping-cart {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #1b1b1b; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .shopping-cart h1 {
    text-align: center;
    color: #ff3e3e; 
    font-size: 24px;
    padding-bottom: 1.3rem;
  }
  
  .cart-items {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #2a2a2a; 
    border: 1px solid #ff3e3e; 
    border-radius: 8px;
  }
  
  .cart-item img {
    width: 115px;
    height: 100px;
    border-radius: 4px;
  }
  
  .item-details {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .item-details h2 {
    font-size: 18px;
    color: #f5f5f5;
  }
  
  .item-details p {
    margin: 5px 0;
    color: white;
  }
  
  .item-details input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ff3e3e;
    border-radius: 4px;
    background-color: #1b1b1b;
    color: #f5f5f5;
  }
  
  .remove {
    background-color: #ff3e3e;
    color: #1b1b1b;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove:hover {
    background-color: #ff5e5e;

  }
  
  .cart-summary {
    text-align: right;
  }
  
  .cart-summary p {
    font-size: 20px;
    margin: 10px 0;
    color: white;
  }
  
  .cart-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cart-actions .continue, .cart-actions .checkout {
    background-color: #ff3e3e;
    color: #1b1b1b;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .cart-actions .continue:hover, .cart-actions .checkout:hover {
    background-color: #ff5e5e;
  }

/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */

footer {
    background-color: #121212; 
    color: #ffffff; 
    padding: 20px 40px;
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 100rem;
}


/* Títulos de las secciones */
.footer-container h3 {
    font-size: 18px;
    color: #e5e5e5;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

/* Enlaces */
.footer-container a {
    color: rgb(253, 101, 131); 
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline; 
}

.footer-navegacion ul {
    list-style: none;
    
}


.redes-icons a {
    color: rgb(253, 101, 131); 
    font-size: 1.5rem; 
    padding-right: 0.7rem; 
    transition: color 0.3s ease; 
}

.redes-icons a:hover {
    color: #ffffff; 
}

.pay-icons a {
    color: rgb(253, 101, 131); 
    font-size: 1.5rem; 
    padding-right: 0.7rem; 
    transition: color 0.3s ease; 
}

.pay-icons a:hover {
    color: #ffffff; 
}

.footer-copyright {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #aaaaaa;
}

/* ---------- ----------------- ------------ */
/* ---------- FIN DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */