* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* ---------- COMIENZO NAVEGADOR ------------ */
header {
    height: 10rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100%;
}

.logo_nav {
    padding-left: 3rem;
    width: 200px;
    height: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 10px;
    height: 100%;
}

nav ul li a {
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: red;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ff0000;
    transition: color 0.3s ease;
}

.titulo_nav {
    color: white;
    text-align: center;
    padding-right: 8rem;
    font-size: xx-large;
}

hr {
    margin: 1rem;
    border-color: red;
}

.botones_extremo_derecho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-left: 1px solid #ff0000;
    height: 5rem;
}

.botones_extremo_derecho ul {
    gap: 1rem;
}

.botones_extremo_derecho ul li a {
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: white;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
}

.botones_extremo_derecho ul li a:hover {
    color: #ff0000;
    transition: color 0.3s ease;
}

/* ---------- NUEVO CÓDIGO RESPONSIVE ---------- */

/* Los siguientes van achicando poco a poco los enlaces, segun se va minimizando la pantalla. */
.menu_toggle {
    display: none;
}

@media screen and (max-width: 1350px) {
    nav ul li a {
        font-size: 0.9rem;
        padding: 0.5rem 1rem; 
        border: none;
        white-space: nowrap; 
    }

    .menu_links {
        gap: 3rem; 
    }
}


@media screen and (max-width: 1200px) {
    nav ul li a {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem; 
        border: none; 
        white-space: nowrap; 
    }

    .menu_links {
        gap: 3rem; 
    }
}

@media screen and (max-width: 1057px) {
    nav ul li a {
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem;
        border: none; 
        white-space: nowrap; 
    }

    .menu_links {
        gap: 1.5rem;
    }


}


/* menú hamburguesa */
@media screen and (max-width: 770px) {
    /* Rehacemos el header */
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .titulo_nav{
        padding-right: 0;
    }

    /* Mostramos el botón de menú hamburguesa */
    .menu_hamburguesa {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    /* Ocultamos los enlaces */
    .menu_links {
        display: none;
        position: absolute;
        top: 100%; /* Debajo del header */
        left: 0;
        right: 0;
        background-color: black;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding-bottom: -4rem;
        gap: 1rem;
    }



    /* Cuando el menú hamburguesa está activo */
    .menu_toggle:checked ~ .titulo_y_menu .menu_links {
        display: flex;
    }

    /* retoquillos en los enlaces en modo hamburguesa */

    .menu_links li a {
        font-size: 1rem;
    }

    .titulo_y_menu {
        flex: 1;
    }

    .botones_extremo_derecho {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}

/* ---------- ----------------- ------------ */
/* ---------- FIN DEL NAVEGADOR ------------ */
/* ---------- ----------------- ------------ */
/* ######################################### */

/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */

footer {
    background-color: #121212; 
    color: #ffffff; 
    padding: 20px 40px;
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 100rem;
}


/* Títulos de las secciones */
.footer-container h3 {
    font-size: 18px;
    color: #e5e5e5;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

/* Enlaces */
.footer-container a {
    color: rgb(253, 101, 131); 
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline; 
}

.footer-navegacion ul {
    list-style: none;
    
}


.redes-icons a {
    color: rgb(253, 101, 131); 
    font-size: 1.5rem; 
    margin-right: 10px; 
    transition: color 0.3s ease; 
}

.redes-icons a:hover {
    color: #ffffff; 
}

.pay-icons a {
    color: rgb(253, 101, 131); 
    font-size: 1.5rem; 
    padding-right: 0.7rem; 
    transition: color 0.3s ease; 
}

.pay-icons a:hover {
    color: #ffffff; 
}

.footer-copyright {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #aaaaaa;
}

/* ---------- ----------------- ------------ */
/* ---------- FIN DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */