/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL MAIN ------------ */
/* ---------- ----------------- ------------ */


  .user-profile {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 25%;
    background-color: #1b1b1b; 
    color: #f5f5f5;
    padding: 20px;
    border-right: 2px solid #ff3e3e;
  }
  
  .sidebar .profile-pic {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar .profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ff3e3e; /* Borde rojo */
  }
  
  .sidebar .profile-pic p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ff3e3e; /* Texto rojo */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
  }
  
  .sidebar ul li a:hover {
    background-color: #ff5e5e;
    color: #1b1b1b;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #1b1b1baa;
  }
  
  .main-content section {
    margin-bottom: 30px;
  }
  
  .main-content h2 {
    color: #ffffff;
    font-size: 1.2rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
    color: #f5f5f5;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff3e3e;
    border-radius: 4px;
    background-color: #1b1b1b;
    color: #f5f5f5;
  }
  
  form input:focus {
    border-color: #ff5e5e;
    outline: none;
  }
  
  button {
    background-color: #ff3e3e;
    color: #1b1b1b;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ff5e5e;
  }
  
  .bank-card {
    background-color: #1b1b1b;
    border: 1px solid #ff3e3e;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    color: #f5f5f5;
  }
  
  .bank-card p {
    margin: 5px 0;
  }