*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

a{   
    text-decoration: none;

}

li{
    list-style: none;
}


/* ---------- ----------------- ------------ */
/* ---------- COMIENZO NAVEGADOR ------------ */
/* ---------- ----------------- ------------ */

header{
    height: 10rem;
    position: sticky; /* Hace que el navegador se quede visible al hacer bajar o subir */
    top: 0; /* Se pega al borde superior */
    z-index: 1000;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    height: 100%;
}


.logo_nav{  /* Imagen */
    padding-left: 3rem;
    width: 200px;
    height: 100px;
}

/* -------------------------- */

/* Desde este comentario, hasta el siguiente, tenemos el menu de navegacion que consta debajo del titulo */

nav ul{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 10px;
    height: 100%;
}


nav ul li a{
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: red;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: white;

}

nav ul li a:hover{
    color: #ff0000;
    transition: color 0.3s ease; /* Animación al pasar el cursor */
}

.titulo_nav{
    color: white;
    text-align: center;
    font-size: xx-large;
}

hr{
    margin: 1rem;
    width: 100rem;
    border-color: red;
}

/* HASTA AQUI */

/* -------------------------- */

/* Desde aqui hasta el siguiente comentario, estilo de los 2 botones de perfil y cesta */

.botones_extremo_derecho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-left: 1px solid #ff0000;
    height: 5rem;

}

.botones_extremo_derecho ul {
    gap: 1rem;
}

.botones_extremo_derecho ul li a{
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: white;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
}

.botones_extremo_derecho ul li a:hover{
    color: #ff0000;
    transition: color 0.3s ease; /* Animación al pasar el cursor */
}


/* ---------- ----------------- ------------ */
/* ---------- FIN DEL NAVEGADOR ------------ */
/* ---------- ----------------- ------------ */
/* ######################################### */

/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL MAIN ------------ */
/* ---------- ----------------- ------------ */


main{
    width: 100%;
    /* height: 68.89vh; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/ProyectoLGDM/assets/img/pag_principal/foto_mainpage2.jpg);
    background-size:cover;
    object-fit: cover;
    background-repeat: no-repeat;

}

main h1{
    color: white;
    padding-top: 1rem;
}

/* FORMULTARIO */
.formulario {
    background-color: #121212;
    border: 2px solid #ff0000;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

.formulario h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ff0000;
}

.formulario label {
    display: block;
    font-size: 1rem;
    margin: 1rem 0 0.5rem;
    text-align: left;
    color: white;
}

.formulario input {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #000;
}

.icono_input {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.icono_input i{
    border-style: solid;
    border-width: 1.5px;
    border-radius: 0.5rem;
    border-color: white;
    height: 2.5rem;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    
}

main hr {
    width: 100%;
    margin: 0.8rem auto;
    
}

.formulario button {
    display: inline-block;
    width: 100%;
    padding: 0.8rem;
    background-color: #ff0000;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #e60000;
}

.formulario .registrarse{
    margin: 0px;
    color: white;
    text-decoration: none;
}


.formulario a {
    display: block;
    margin-top: 1rem;
    color: #00d0ff;
    text-decoration: none;
}

.formulario a:hover {
    text-decoration: underline;
}

.formulario .registrarse:hover{
    text-decoration: none;
}



/* ---------- ----------------- ------------ */
/* ---------- FIN DEL MAIN ------------ */
/* ---------- ----------------- ------------ */


/* ---------- ----------------- ------------ */
/* ---------- COMIENZO DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */

/* footer {
    background-color: #121212; 
    color: #ffffff;
    padding: 1rem 10rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 100rem;
    height: 6rem;
}


.footer-container h3 {
    font-size: 18px;
    color: #e5e5e5;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.footer-container a {
    color: rgb(253, 101, 131); 
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline; 
}

.footer-navegacion ul {
    list-style: none;
    
}


.redes-icons a {
    color: rgb(253, 101, 131); 
    font-size: 1.5rem; 
    margin-right: 10px; 
    transition: color 0.3s ease; 
}

.redes-icons a:hover {
    color: #ffffff; 
}

.footer-copyright {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 14px;
    color: #aaaaaa; 
}
*/
/* ---------- ----------------- ------------ */
/* ---------- FIN DEL FOOTER ------------ */
/* ---------- ----------------- ------------ */